<!-- {{user | json}} -->

<table class="table">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>{{user.id}}</th>
        </tr>
        <tr>
            <th>User Name</th>
            <th>{{user.firstName}}</th>
        </tr>
        <tr>
            <th>Address</th>
            <th>{{user.lastName}}</th>
        </tr>
        <tr>
            <th>Address</th>
            <th>{{user.email}}</th>
        </tr>
        <tr>
            <th>Phone Number</th>
            <th>{{user.phoneNumber}}</th>
        </tr>
    </thead>
</table>